user-item:nth-child(even) .userinfo {
    background-color: #000;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
h1{
    text-align: center;     
    border-bottom: 1px solid #afafaf;
    padding-bottom: 15px;
     font-size: 3rem;
}
.diag i {
    font-size: 60px;
    color: red;
}

.search {
    padding: 9px;
    width: 100%;
    margin: 0 auto;
}
.searchContainer{
    width: 30%;
    display: flex;
    align-items: center;
}
.controls {
    display: flex;
    justify-content: space-between;
}
.headinfo {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    align-content: center;
    margin-left: 20px;
}
.userinfo{
    display: flex;
    padding: 10px;
     font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 1px solid #afafaf;
    border-top: 1px solid #afafaf;
}
.userinfo>p{
    min-width: 72px;
    margin: 0;
    align-self: center;
    text-align: center;
}
.headinfo p:last-child{
    max-width: 64px;
    margin: 0;
    align-self: center;
}
.headinfo p {
  
    margin: 20px 20px;
    text-align: center;
}
.headuserName {
    flex: 1;
} 