<div class="wrapper">
<popup > </popup>
        <h1 >{{title}}</h1>
        <div class="controls">
                <div class="searchContainer">
                        <input type="text" class="search" placeholder="Search by name..." [(ngModel)]="name" #searchInput (input)="filterItem(searchInput.value)">
                </div>               
                 <div class="buttonContainer">
                        <button class="diag " (click)="show();"><i class="material-icons">insert_chart</i></button>
                        <button class="diag " (click)="resetUsers();"><i class="material-icons">refresh</i></button>
                 </div>
        </div>
        <div class="userinfo">
    <div class="picture"  >
        <img src="">
    </div>
    <div class="headinfo"> 
        <p class="headuserName">photo</p>     
        <p class="headuserName">name.first</p>
        <p class="headuserName">name.last</p>
        <p class="headuserName">email</p>        
         <p class="headuserName">details</p>                   
    </div> 
</div>
        <user-item   *ngFor="let user of usersFiltered | paginate: { itemsPerPage: 10, currentPage: p }" [user]="user" ></user-item>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
  