<div class="userinfo">
    <div class="picture"  >
        <img src="{{user.picture.medium}}">
    </div>
    <div class="info">      
        <p class="userName">{{user.name.first}}</p>
        <p class="userName">{{user.name.last}}</p>
        <p class="userName"><a href="mailto:{{user.email}}">{{user.email}}</a></p> 
        <button (click)="showDetails();  "> <i class="material-icons">{{(active)?'remove':'add'}}</i> </button>
            <div class="addInfo"  [class.show]="active" >
                <div class="pictureBig" >
                    <img src="{{user.picture.large}}">
            </div>  
            <div class="addInfoText">
                <p>{{user.location.street}}</p>
                <p>{{user.location.city}}</p>
                <p>{{user.location.state}}</p> 
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione deleniti modi, iste maxime laudantium rerum possimus inventore corporis dolores itaque distinctio esse assumenda commodi aliquid tempore debitis corrupti, at rem recusandae laborum eum illum facere earum. Impedit, laudantium dignissimos repudiandae nostrum mollitia, velit similique cumque iure beatae. Fuga, a praesentium eum! Facere nesciunt, eligendi itaque ducimus, sint optio, at repellat possimus laborum laudantium dicta ipsa accusamus expedita odio error nulla vitae eaque voluptates maiores. Eaque similique quisquam, nostrum rerum totam eum, perspiciatis quos consequatur ducimus excepturi modi odio omnis rem quasi consequuntur cupiditate vel dolorem in sequi laboriosam maxime eveniet.

            </div>
            </div>                  
    </div> 
</div>